.country{
    border: 2px solid rgb(58, 63, 66);
    padding: 20px;
    margin: 10px;
    /* text-overflow: ellipsis; */
    /* text-align: center; */
    border-radius: 20px;
    /* overflow: hidden;
    text-overflow: ellipsis; */

}
.country >h1{
    line-height: 1.2;
    word-break: break-word;
}
.visited-country{
    background-color: rgba(2, 88, 76, 0.301);
    color: rgb(20, 167, 76);
}